/* This file will be imported in EVERY page */
@import "./utilities.scss";

.social-menu svg {
    stroke: var(--accent-color) !important;
    stroke-width: 2 !important;
}

.article-page .main-article .article-footer section.article-copyright {
    text-transform: unset;
}

.article-page .main-article .article-footer .article-copyright a,
.article-page .main-article .article-footer .article-lastmod a,
.site-footer .copyright a {
    text-decoration: underline;
}

/* scrollbar styles */
$scrollbar-size: 3px;

// Firefox
* {
    scrollbar-width: $scrollbar-size;
    scrollbar-color: var(--scrollbar-thumb) transparent;
}

// Chromium
::-webkit-scrollbar {
    height: $scrollbar-size;
    width: $scrollbar-size;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Scroll shadow */
:root {
    --scroll-shadow-width: 7px;
    --scroll-shadow-color: rgba(0, 0, 0, 0.2);

    [data-scheme="dark"] & {
        --scroll-shadow-width: 10px;
        --scroll-shadow-color: rgba(255, 255, 255, 0.2);
    }
}

/* CSS utilities */
.no-wrap {
    word-break: keep-all;
    white-space: nowrap;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
}