:root{
    --body-text-color: #000;
    --vcard-background: rgba(255, 255, 255, 0.6);
    --vcard-backdrop-filter: blur(30px) saturate(180%);
}

[data-scheme="dark"] {
    --body-text-color: #fff;
    --vcard-background: rgba(66, 66, 66, 0.6);
    --vcard-backdrop-filter: blur(30px) saturate(80%);
}

html, body, main {
    height: 100%;
}

body {
    background: var(--body-background);
    color: var(--body-text-color);
}

main {
    overflow: auto;
}

.container-outer {
    width: 100%;
    max-width: 90mm;
    height: 100%;
    padding: 10px;
    margin: auto;
    // background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inner {
    height: 100%;
    aspect-ratio: 6/4;
    max-width: 100%;
    // background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;

    padding: 8% 5% 5%;
    overflow:hidden;
    font-size: 60%; // Every text inside the card will be relative to this size

    border-radius: 6px;
    color: var(--card-text-color-main);
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-shadow: var(--shadow-l3);
    background-color: var(--vcard-background);
    backdrop-filter: var(--vcard-backdrop-filter);

    address {
        height: 100%;
        width: 100%;
        font-style: normal;
        display: flex;
        flex-direction: column;
    }

    p {
        margin: 0 0 2%;
        svg {
            width: 0.8em;
            height: 0.8em;
            vertical-align: -0.1em;
            margin: 0 0.1em;
        }
    }

    .info {
        flex: 1;
        display: flex;
    }

    .info-text {
        flex: 1;
    }

    .name {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 5%;
    }

    .position {
        font-family: 'Fira Sans Condensed', var(--base-font-family);
    }

    ul.links {
        list-style: none;

        padding: 0;
        margin: auto;
        width: 100%;

        display: flex;
        justify-content: space-around;

        li {
            display: block;
            text-align: center;

            svg {
                width: 2em;
                height: 2em;
            }
        }
    }

    .avatar {
        border-radius: 9999px;
        width: 5em;
        height: 5em;
    }
}

.sphere {
    z-index: -1;
    position: absolute;
    border-radius:50%;
    // animation:spin 3s linear infinite;
    // transform:rotate(-15deg);
}

.sphere:after{
    content:"";
    position:absolute;
    z-index:12;
    top:0;
    left:0;
    height:100%;
    width:100%;
    border-radius:50%;
    box-shadow:
        inset -30px -30px 20px 15px #6d6d6d29,
        // inset -2px -2px 8px 0px #6d6d6d64,
        inset 2px 2px 5px 0px rgba(255, 255, 255, 0.374),
        inset 20px 20px 40px 15px rgba(255, 255, 255, 0.71);
}

.sphere:nth-of-type(1) {
    top: -150px;
    left: -200px;
    height:300px;
    width:300px;
    background-color: tomato;
}

.sphere:nth-of-type(2) {
    right: -100px;
    bottom: -100px;
    height:180px;
    width:180px;
    background-color:royalblue;
}