{{ define "head" }}
{{ $sass := resources.Get "home.scss" }}
{{ $style := $sass | resources.ToCSS | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ $homeScript := resources.Get "home.js" | minify }}
<script src="{{ $homeScript.RelPermalink }}"></script>
{{ end }}


{{ define "header" }}
<div class="header">
    <h1 class="header-title">{{ .Site.Title }}</h1>
    <div class="spacer"></div>
    {{/*  <div class="divider"> </div>  */}}
    <menu class="horizontal-menu" id="header-toolbar">
        <li id="language-switch" class="dropdown-menu">
            <button id="language-switch-button" class="icon-button {{ .Language }}" title="Change language" aria-controls="language-menu" aria-expanded="false" data-auto-associate>
                {{ partial "helper/icon" "language" }}
            </button>
            <ul id="language-menu" class="dropdown-list no-wrap transition fade-down">
                {{- $currentLanguageCode := .Language.Lang -}}
                {{ with .Site.Home.AllTranslations }}
                    {{ range . }}
                        <li class="dropdown-item {{ if eq .Language.Lang $currentLanguageCode }}selected{{ end }}">
                            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </li>
        <li id="dark-mode-switch">
            <button id="dark-mode-toggle" class="icon-button" title="Toggle Dark Mode" aria-label="Dark Mode">
                {{ partial "helper/icon" "sun-moon" }}
            </button>
        </li>
    </menu>
</div>
{{ end }}

{{ define "main" }}
{{ `<!-- Template: layouts/index.html -->` | safeHTML }}
{{ $hasPublications := isset $.Site.Data.personal "publications" }}
{{ $hasProjects := isset $.Site.Data.personal "projects" }}
{{ $hasExperiences := isset $.Site.Data.personal "experiences" }}
{{ $hasSkills := isset $.Site.Data.personal "skills" }}
{{ $hasFacts := true }}
{{ $hasFriends := isset $.Site.Data.personal "friends" }}
{{ $pages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
    {{ $pages = $pages | lang.Merge .Site.RegularPages }}
{{ end }}
{{ $hasRecentPosts := gt (len $pages) 0 }}
    <section id="intro">
        <div class="intro-main">
            <h2>{{ .Title }}</h2>
            <p>{{ .Content }}</p>
            <address>
                <ul class="social-menu">
                    <li>
                        <button id="email-button" class="icon-button" title="Email" aria-controls="email" aria-expanded="false" data-auto-associate>
                            {{ partial "helper/icon-sprite" "mail" }}{{ partial "helper/icon-sprite" "mail-opened" }}
                        </button>
                    </li>
                    {{ range .Site.Menus.social }}
                    <li>
                        <a
                            href='{{ .URL }}'
                            class="icon-button"
                            {{ if eq (default true .Params.newTab) true }}target="_blank" rel="noreferrer noopener"{{ end }}
                            {{ with .Name }}title="{{ . }}"{{ end }}
                        >
                            {{ $icon := default "link" .Params.Icon }}
                            {{ with $icon }}
                                {{ partial "helper/icon" . }}
                            {{ end }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
                <div id="email" class="transition fade-down out" data-expanded="false">
                    zhuangbi 𝖆𝖙 connect 𝕕𝕠𝕥 ust 𝕕𝕠𝕥 hk
                </div>
            </address>
        </div>
        <div class="intro-right">
            {{ $avatar := resources.Get "avatar.jpg" }}
            {{ if not $avatar }}
                {{ errorf "Failed loading avatar from %q" . }}
            {{ end }}
            <div id="avatar-widget">
                <div id="avatar-wrapper">
                    <img src="{{ $avatar.RelPermalink }}"
                        id="avatar" class="avatar" loading="lazy"
                        alt="A very handsome face of mine">
                </div>
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" id="avatar-circle">
                    <circle cx="50" cy="50" r="47" stroke-width="2" stroke-dasharray="295.3"/>
                </svg>
                {{ $avatarGlasses := resources.Get "glasses.png" }}
                {{ if $avatarGlasses }}
                <template id="avatar-glasses">
                    <img src="{{ $avatarGlasses.RelPermalink }}"
                        alt="A pair of handsome glasses that you put on my avatar by an awesome long-press" class="avatar-glasses">
                </template>
                {{ end }}
            </div>
        </div>
    </section>

    <div class="container-bleed sticky-top clearfix" id="site-nav-wrapper">
        <nav class="no-wrap" id="site-nav">
            <ul class="horizontal-menu" id="site-nav-list">
                {{ if $hasPublications }}
                <li><a href="#publications" class="with-icon">{{ partial "helper/icon-sprite" "hash" }}{{ T "publications" }}</a></li>
                {{ end }}
                {{ if $hasProjects }}
                <li><a href="#projects" class="with-icon">{{ partial "helper/icon-sprite" "hash" }}{{ T "projects" }}</a></li>
                {{ end }}
                {{ if $hasExperiences }}
                <li><a href="#experiences" class="with-icon">{{ partial "helper/icon-sprite" "hash" }}{{ T "experiences" }}</a></li>
                {{ end }}
                {{ if $hasSkills }}
                <li><a href="#skills" class="with-icon">{{ partial "helper/icon-sprite" "hash" }}{{ T "skills" }}</a></li>
                {{ end }}
                {{ if $hasFacts }}
                <li><a href="#fun-facts" class="with-icon">{{ partial "helper/icon-sprite" "hash" }}{{ T "funFacts" }}</a></li>
                {{ end }}
                {{ if $hasRecentPosts }}
                <li><a href="#recent-posts" class="with-icon">{{ partial "helper/icon-sprite" "hash" }}{{ T "recentPosts" }}</a></li>
                {{ end }}
                {{ if $hasFriends }}
                <li><a href="#friend-links" class="with-icon">{{ partial "helper/icon-sprite" "hash" }}{{ T "friendLinks" }}</a></li>
                {{ end }}
                <li><a href="blog" class="with-icon">{{ partial "helper/icon-sprite" "notebook" }}{{ T "blog" }}</a></li>
            </ul>
        </nav>
    </div>

    {{ with $.Site.Data.personal.publications }}
    <section id="publications">
        <h2>{{ T "publications" }}</h2>
        {{ range . }}
        <article class="pub-container">
            <div class="pub-img-wrapper">
                {{ $img := resources.Get .img }}
                {{ $imgID := anchorize .short }}
                <img src="{{ $img.RelPermalink }}" class="pub-img" alt="Showcase image" id="{{ $imgID }}-img">
                <button class="pub-img-collapser" aria-controls="{{$imgID}}" aria-expanded="false">
                    <span class="collapse-label left">⬆️</span>
                    <span class="expand-label">Tap on the image to expand</span>
                    <span class="collapse-label right">⬆️</span>
                </button>
            </div>
            <div class="pub-main">
                <h3>{{ .title }}</h3>
                <p class="pub-venue">{{ .venue }}</p>
                <p class="pub-awards">
                {{- range $value := .awards -}}
                    <span class="pub-award">{{ partial "helper/icon" "award" }}{{ $value }}</span>
                {{- end -}}
                </p>
                <p class="author-line">
                {{ range $key, $value := .authors }}
                    {{- if ne $key 0 -}}, {{ end -}}
                    {{- partial "name-link" $value -}}
                {{ end }}
                </p>
                <p class="links">
                {{ with .links }}
                    {{ with .doi }}<a class="link with-icon" href="{{ . }}">{{ partial "helper/icon-sprite" "brand-safari" }}DOI</a>{{ end }}
                    {{ with .pdf }}<a class="link with-icon" href="{{ . }}">{{ partial "helper/icon-sprite" "file-type-pdf" }}PDF</a>{{ end }}
                    {{ with .arxiv }}<a class="link with-icon" href="{{ . }}">{{ partial "helper/icon-sprite" "file-pencil" }}arXiv</a>{{ end }}
                    {{ with .project }}<a class="link with-icon" href="{{ . }}">{{ partial "helper/icon" "building-pavilion" }}Project Website</a>{{ end }}
                    {{ with .code }}<a class="link with-icon" href="{{ . }}">{{ partial "helper/icon-sprite" "code" }}Source Code</a>{{ end }}
                    {{ with .presentation }}<a class="link with-icon" href="{{ . }}">{{ partial "helper/icon-sprite" "presentation" }}Presentation</a>{{ end }}
                {{ end }}
                </p>
            </div>
        </article>
        {{ end }}
    </section>
    {{ end }}

    {{ with $.Site.Data.personal.projects }}
    <section id="projects">
        <h2>{{T "projects"}}</h2>
        <div class="projects-gallery gallery">
        {{ range . }}
        <article class="project-card card">
            {{ $img := resources.Get .img }}
            <img src="{{ $img.RelPermalink }}" class="card-header-img" alt="Showcase image">
            <div>
                <h3>{{ .title }}</h3>
                <p>{{ .description }}</p>
                <p class="links">
                {{ with .links }}
                    {{ with .project }}<a class="link with-icon" href="{{ . }}">{{ partial "helper/icon" "building-pavilion" }}Project Website</a>{{ end }}
                    {{ with .code }}<a class="link with-icon" href="{{ . }}">{{ partial "helper/icon-sprite" "code" }}Source Code</a>{{ end }}
                {{ end }}
                </p>
            </div>
        </article>
        {{ end }}
        </div>
    </section>
    {{ end }}

    {{ with $.Site.Data.personal.experiences }}
    <section id="experiences">
        <h2>{{T "experiences"}}</h2>
    </section>
    {{ end }}

    {{ with $.Site.Data.personal.skills }}
    <section id="skills">
        <h2>{{T "skills"}}</h2>
    </section>
    {{ end }}

    <section id="fun-facts">
        <h2>{{T "funFacts"}}</h2>
        {{ $s := slice "/homepage/my-name" "/homepage/my-hkust-account-name" "/homepage/my-game-collection" }}
        {{ $length := len $s }}
        <div class="card-tabs" id="fun-fact-tabs">
            {{ range $index, $page := $s }}
            {{ with site.GetPage $page }}
            <button type="button"
                    class="card"
                    id="fun-fact-tab-{{$index}}"
                    data-group="fun-fact-tabs"
                    aria-controls="fun-fact-{{$index}}"
                    aria-expanded="{{if (eq $index 0)}}true{{else}}false{{end}}">
                <span class="tab-title">{{ .Title }}</span>
            </button>
            {{ end }}
            {{ end }}
        </div>
        <div class="card-stack">
            {{ range $index, $page := $s }}
            {{ with site.GetPage $page }}
            <div class="card-wrapper"
                 style="--n: {{$index}}; --l: {{$length}}">
                <div class="card stacked transition"
                     id="fun-fact-{{$index}}"
                     data-group="fun-fact-tabs"
                     role="region"
                     aria-labelledby="fun-fact-tab-{{$index}}">
                    <div class="card-content">
                        <h3>{{ .Title }}</h3>
                        {{ .Content }}
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </section>

    {{ $pages := .Site.RegularPages }}
    {{/*  {{ range .Site.Home.Translations }}
        {{ $pages = $pages | lang.Merge .Site.RegularPages }}
    {{ end }}  */}}
    {{ if gt (len $pages) 0 }}
    <section id="recent-posts">
        <h2>{{T "recentPosts"}}</h2>
        <ul class="recent-posts-gallery gallery">
            {{ range (first 6 $pages) }}
            <li class="gallery-card card">
                <a href="{{ .Permalink }}">
                    <h3 class="card-title">{{ .Title }}</h3>
                    <time class="card-footer">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
                    <p class="card-body">
                        {{ .Summary }}
                        {{- if .Truncated -}}&hellip;{{ end -}}
                    </p>
                </a>
            </li>
            {{ end }}
        </ul>
    </section>
    {{ end }}

    {{ with $.Site.Data.personal.friends }}
    <section id="friend-links">
        <h2>{{T "friendLinks"}}</h2>
        <ul class="people-list">
            {{ range . }}
            {{- $p := index site.Data.network.people . -}}
            {{- $fullname := (printf "%s %s" $p.given $p.family) -}}
            {{ if not (isset $p "url") }}
            {{ break }}
            {{ end }}
            <li>
                <a href="{{ $p.url }}" class="person-link">
                    {{- with $p -}}
                    {{- if isset . "avatar" -}}
                    <img src="{{ (resources.Get .avatar).RelPermalink }}" alt="{{.given}}'s avatar" class="person-avatar">
                    {{/*
                    {{- else -}}
                    <svg class="person-avatar" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">{{ substr .family 0 1 | upper }}{{ substr .given 0 1 | upper }}</text>
                    </svg>
                    */}}
                    {{- end -}}
                    {{- end -}}
                    <span class="person-name">{{- $fullname -}}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
{{ end }}

{{ define "footer" }}
<section class="copyright">
    &copy; 
    {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
        {{ .Site.Params.footer.since }} - 
    {{ end }}
    {{ now.Format "2006" }} {{ .Site.Title }}
</section>
<section class="powerby">
    {{- $Generator := `<a href="https://gohugo.io/" target="_blank" rel="noopener">Hugo</a>` -}}
    {{- $Theme := `<b><a href="https://github.com/CaiJimmy/hugo-theme-stack" target="_blank" rel="noopener">Stack</a></b>` -}}
    {{- $DesignedBy := `<a href="https://jimmycai.com" target="_blank" rel="noopener">Jimmy</a>` -}}

    {{ T "footer.builtWith" (dict "Generator" $Generator) | safeHTML }} <br />
    {{ T "footer.designedBy" (dict "Theme" $Theme "DesignedBy" $DesignedBy) | safeHTML }}
</section>
{{ end }}