<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
    <head>
        {{- partial "head/head.html" . -}}
        {{- block "head" . -}}{{ end }}
    </head>
    <body class="home">
        {{ `<!-- Template: layouts/index-baseof.html -->` | safeHTML }}
        {{- partial "head/colorScheme" . -}}

        <header>
            {{- block "header" . -}}{{ end }}
        </header>

        <main class="container compact">
                {{- block "main" . }}{{- end }}
        </main>
        {{ partial "footer/include.html" . }}

        <footer>
            {{- block "footer" . -}}{{ end }}
        </footer>
    </body>
</html>
